@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);
$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);

$fontInter: 'Inter', sans-serif;